<?xml version="1.0"?>
<config>
    <modules>
        <Deividnetwork_Invoiceprint>
            <version>
                1.0
            </version>
        </Deividnetwork_Invoiceprint>
    </modules>
    <frontend>
        <routers>
            <deividnetwork_invoiceprint>
                <use>standard</use>
                <args>
                    <module>Deividnetwork_Invoiceprint</module>
                    <frontName>invoiceprint</frontName>
                </args>
            </deividnetwork_invoiceprint>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <deividnetwork_invoiceprint>
                    <file>deividnetwork_invoiceprint.xml</file>
                </deividnetwork_invoiceprint>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <Data>
                <class>Deividnetwork_Invoiceprint_Helper</class>
            </Data>
        </helpers>
        <blocks>
            <invoiceprint>
                <class>Deividnetwork_Invoiceprint_Block</class>
            </invoiceprint>
        </blocks>
    </global>
</config>